//colores
$black: #000000;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$white: #ffffff;
$dull-orange: #e17334;

//font-family
$cover_h1: 'Merriweather', serif;
$main: 'Open Sans', sans-serif;
$option1: 'Ubuntu', sans-serif;
$option2: 'Comic Sans';
$option3: 'Montserrat', sans-serif;

// font-size
$x_large: 18px;
$large: 16px;
$normal: 14px;
$small: 13px;
$x_small: 12px;

// font-weight
$regular: 400;
$medium: 500;
$semibold: 600;
