body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  align-items: center;
}

.main__logo {
  margin: 94px 0 36px 0;

}

.main__title {

}

.main__text {

}

.main__list--container {

}

.main__list--item {

}

.main__list--icon {

}

.main__button {

}

.footer {

}

.footer__copyright {

}

.footer__logo--titanium {

}

.footer__logo--adalab {

}
