.visor {
  background-image:linear-gradient(to botton, silver, palegrey);
}
.reset{
  width: 75px;
  height: 30px;
  border-radius: 15px;
}
.card
.card__head
.card__head--border
.card__head--name
.card__head--job
.card__pic
.card__foot
.card__foot--social
.card__foot--phone
.card__foot--mail
.card__foot--linkedin
.card__foot--github
.card__foot--skills
.card__foot--html
.card__foot--css
.card__foot--gulp
