.visor {
  background-color: $palegrey;
  padding: 10px 35px 30px 45px;
}
.reset{
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.reset__icon{
  color: $gunmetal;
  display: inline-block;
  margin-left: 10px;
  font-size: $x_small;
  line-height: 1.67px;

}
.reset__text{
  font-family: $main;
  font-size: $x_small;
  color: $gunmetal;
  text-align: center;
  display: inline-block;
  margin-right: 10px;


}
.card {
  width: 100%;
  background-color: $white;
  border-radius: 2px;
  display: block;
  flex-direction: row;
}
.card__head {
  width: 100%;
  padding-top: 23px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;


}
.card__head--border {
  border-left: 5px solid $hospital-green;
  height: 42px;
}
.card__head--container {
  margin-left: 15px;
  margin-top: 5px;
}

.card__name {
font-family: $option2;
font-size: $x_large;
font-weight: $bold;
line-height: 1.11;
color: $dark-green-blue;
}
.card__job {
  font-family: $option2;
  font-size: $large;
  line-height: 1.25;
  color: $gunmetal;
}
.card__pic {
  width: 100%;
  align-items: center;
}
.card__foot{
border-bottom: 1px solid $dirty-blue;
}
.card__foot--social{

}
.card__foot--icon{

}
.card__foot--skills{

}
.card__foot--box{

}
.card__foot--text{

}
